/*#region General Settings*/
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.btn-primary {
    background-color: #3498db;
    border-color: #3498db;
    border-radius: 0;
    font-weight: 500;
    font-size: 0.8rem;
}

.btn-danger {
    background-color: #e74c3c;
    border-color: #e74c3c;
    border-radius: 0;
    font-weight: 500;
    font-size: 0.8rem;
}

.btn-warning {
    background-color: #f1c40f;
    border-color: #f1c40f;
    border-radius: 0;
    font-weight: 500;
    font-size: 0.8rem;
}

.btn-info {
    border-radius: 0;
    font-weight: 500;
    font-size: 0.8rem;
}

.btn-success {
    border-radius: 0;
    font-weight: 500;
    font-size: 0.8rem;
}

.btn-light {
    border-radius: 0;
    font-weight: 500;
    font-size: 0.8rem;
    color: #7f8c8d;
    margin-right: 8px
}

.btn-secondary {
    border-radius: 0;
    font-weight: 500;
    font-size: 0.8rem;
}

a:hover {
    text-decoration: none !important;
}

th, td, h6 {
    color: #9b9b9b !important;
    font-size: 0.8rem
}

th {
    font-weight: 500 !important
}

.form-section {
    background-color: #ebebeb !important
}

input, textarea {
    border-radius: 0 !important;
    resize: none;
    border: 1px solid #ecf0f1 !important;
}

.form-title {
    color: #7f8c8d;
    margin-bottom: 30px
}

input::placeholder, textarea::placeholder {
    color: #95a5a6 !important;
    font-size: 0.7rem !important;
}

label {
    display: none
}
html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: rgb(25, 28, 32);
}
/*#endregion*/
/*#region Header*/
    header {
        background-image: url(/imgs/bg4.jpg);
        background-size: cover;
        min-height: 600px;
        position: relative
    }

    header .clinic-overlay {
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: rgba(112,122,122,0.6);
        background-size: cover;
        position: absolute;
    }

    header .row {
        min-height: 600px;
    }

    header h1, header p {
        color: #fff;
    }

    header .slogan {
        font-size: 0.8rem;
        font-weight: 600
    }

    header h1 {
        font-weight: 900;
        text-transform: uppercase;
        font-size: 4rem
    }
/*#endregion*/
/*#region data-table*/
table.dataTable.no-footer{
    border-bottom:none!important;
}
table.dataTable tbody tr {
    background-color: transparent !important;
}
table.dataTable th a,
table.dataTable th p,
table.dataTable th {
    color: #fff !important;
    font-weight: 500;
    font-size: 0.8rem
}
table.dataTable tbody td a,
table.dataTable tbody td p,
table.dataTable tbody td {
    color:#fff!important;
    font-weight:500;
    font-size:0.7rem;
    margin-bottom:0
}
table.dataTable td,
table.dataTable th {
    vertical-align: middle;
}

#schedule-table_info,
#visit-table_info {
    font-size: 0.8rem !important;
    color: #9b9b9b;
}
body main h6 {
    color: #9b9b9b;
    font-weight:600;
    font-size:0.9rem
}
.paginate_button.current {
    background: #fff !important;
    color: #fff !important;
    border: none !important;
    padding: 0 !important;
    border-radius: 50% !important;
}
/*#endregion*/
/*#region Table Settings*/
.action-button svg {
    color: #ff4d4f;
    font-size:0.8rem
}
.modal {
    overflow: auto !important;
}
/*endregion*/