@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="color: #0157a0">
        Welcome to Dental Clinic
    </h1>

    <img src="~/imgs/Diverse Nursing.png" class="img-fluid"/>
</div>
