<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dental Clinic</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        table.dataTable thead .sorting_asc {
            background-image: none !important;
        }
        table.dataTable thead .sorting_desc {
            background-image: none !important;
        }
    </style>
</head>
<body>
    <header>
        <div class="clinic-overlay">
            <div class="container">
                <div class="row justify-content-end align-items-center">
                    <div class="col-lg-6">
                        <p class="slogan">A full control between Your hands </p>
                        <h1>
                            Whatever a Hospital or Clinic
                        </h1>
                        <p>
                            Our Apps will organize every single action
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <partial name="_footer.cshtml"></partial>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/font-awesome/js/all.js"></script>
    <script src="~/lib/jquery.nicescroll/jquery.nicescroll.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            $('#schedule-table').DataTable();
            $('#visit-table').DataTable();
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
